* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin-block: 0;
}

body {
  position: relative;
  padding-bottom: 349px;
  /* border: 1px solid sandybrown; */
}

header {
  padding-left: 77px;
  padding-top: 40px;
}

header .page-name {
  font-family: Inconsolata;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 25px;
  letter-spacing: -0.08em;
  text-transform: uppercase;
  color: #333333;
}
main {
  padding-left: 77px;
  padding-top: 200px;
  display: flex;
}
/* .illustration-container,
.details-container {
   border: 1px solid sandybrown; 
} */

.illustration-container {
  width: 539.22px;
}

.illustration-container img {
  width: 586px;
  height: 447.43px;
}

.details-container {
  width: 586px;
  margin: 0 120px;
}

.details-container h1 {
  /* position: absolute; */
  max-width: 586px;
  /* height: 190px;
  left: 735px;
  top: 265px; */

  font-family: Space Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 95px;
  letter-spacing: -0.035em;

  /* Gray 1 */

  color: #333333;
  margin-bottom: 36px;
}

.details-container p {
  /* position: absolute;
    height: 108px;
  left: 736px;
  top: 491px; */
  max-width: 381px;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.035em;

  /* Gray 2 */

  color: #4f4f4f;
  margin-bottom: 66px;
}

.details-container a {
  color: #ffffff;
  background-color: #333333;
  display: inline-block;

  padding: 23px 44px;
  font-family: Space Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */

  letter-spacing: -0.035em;
  text-transform: uppercase;

  color: #ffffff;
}

footer {
  position: absolute;
  bottom: 24px;
  left: 0;
  right: 0;
}

footer > p {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-align: center;

  color: #bdbdbd;
}

/* footer,
main,
header {
  border: 1px solid red;
} */

footer > p > span {
  font-weight: 700;
  text-decoration: underline;
  align-items: center;
}
